<!DOCTYPE html>
<html>
    <head>
        {{> title}}
    </head>
    <body style="text-align:center">
        {{> header}}
        <h1>{{screamIt welcome}}</h1>
        <p>Hello {{name}}</p>
        {{> footer}}
    </body>
</html>